/* body{
    background-color: darkseagreen;
}
h2{
    color: White;
    text-align: center;
}
.card-body{
    background-color: white;
    

}
.card-title{
    color: blue;
} */
.col-10{
    margin-left: 150px;
}
h1{
    text-align: center;
}
/* 
.App{
    display: flex;
} */