/* .container-fluid{
    background-color: burlywood;
    height: 100%;
} */
.Home{
    background-color: cadetblue;
    /* text-align: center; */
    height: 300PX;
   
}
h1{
    padding-top: 90px;
    display: flex;
    justify-content: space-around;
 
}
.button{
    padding-top: 30px;
    margin-left: 470px;
}
.btn {

    width: 250px;
}