
<h1> Sign up form </h1>
 
<form action="/register" method="POST">
    <div>
    <label for="name">NAME</label>
    <input type="text" name="name" placeholder="name" required><br>
</div>
<div>
    <label for="email">EMAIL</label>
    <input type="text" name="email" placeholder="email" required><br>
</div>
<div>
    <label for="password">PASSWORD</label>
    <input type="password" name="password" placeholder="password" required>
</div>
    <button type="submit">REGISTER</button>
</form>
 
<!-- <h1>This is home page</h1> -->
 
<!-- <li><a href="/register">Sign up!!</a></li> -->
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>